# This file contains common pin mappings for the Duet3 6HC. To use
# this config, the firmware should be compiled for the SAME70Q20B.

# To flash the board, erase the existing firmware by jumpering the erase jumper.
# Boot the board, wait for reset to complete, remove the jumper, and then reboot the board,
# as described in Duet's documentation:
#    https://docs.duet3d.com/en/User_manual/RepRapFirmware/Updating_firmware#all-other-duet-boards
# Then run: make flash FLASH_DEVICE=/dev/ttyACM0

# See docs/Config_Reference.md for a description of parameters.


# Pins for reference, v1.02 board:
# Driver Step Pins - 0:PC18 1:PC16 2:PC28 3:PC1  4:PC4 5:PC9
# Driver Dir Pins  - 0:PB5  1:PD10 2:PA4  3:PA22 4:PC3 5:PD14
# Driver Enable - !PA9
# Driver CS - PD17
# Thermistor Pins - TEMP0:PC15 TEMP1:PC29 TEMP2:PC30 TEMP3:PC31
# Pullup Resistor - 2200
# Vssa Sense:PC13 | Vref Sense:PC0
# Current Sense resistor for drivers - 0.05ohm
# SPI lines:{PC25} -> SPIMosi:PC27 SPIMiso:PC26 SPISCLK:PC24
# Vin Monitor:PA20
# CAN Pins - TX0:PB2 RX0:PB3 TX1:PD12 RX1:PC12
# Heaters - Out0:PA7 Out1:PA24 Out2:PA16 Out3:PA11
# Fan outputs - Out4:PA15 Out5:PC5 Out6:PA8 Out7:PC11 Out8:PC8 Out9:PA12 | Out9 is shared with VFD_Out
# Tach Pins for Fans - Out4.Tach:PC7 Out5.Tach:PD23 Out6.Tach:PA1
# GPIO_out - IO0:PD26 IO1:PD16 IO2:PD27 IO3:PA3 IO4:PE0  IO5:PD21 IO6:PA0  IO7:PD23 IO8:PE1
# GPIO_in -  IO0:PD25 IO1:PD15 IO2:PD28 IO3:PE5 IO4:PD30 IO5:PA19 IO6:PA18 IO7:PA17 IO8:PE3
# Driver Diag - 0:PD29 1:PC17 2:PD13 3:PC2 4:PD31 5:PC10

[stepper_bed]
step_pin: PC18
dir_pin: !PB5
enable_pin: !PA9
microsteps: 32
gear_ratio: 50:1
endstop_pin: PD25
position_endstop: 0
position_max: 300
homing_speed: 0.1
homing_retract_dist: 0.05
second_homing_speed: 0.05
homing_positive_dir: true

[tmc5160 stepper_bed]
cs_pin: PD17
spi_bus: usart1
chain_position: 1
chain_length: 6
interpolate: False
run_current: 4
sense_resistor: 0.05

[stepper_arm]
step_pin: PC16
dir_pin: !PD10
enable_pin: !PA9
microsteps: 32
endstop_pin: PD15
gear_ratio: 50:1
position_endstop: 0
position_min: 0
position_max: 110
homing_speed: 0.1
homing_retract_dist: 0.05
second_homing_speed: 0.05
homing_positive_dir: true

[tmc5160 stepper_arm]
cs_pin: PD17
chain_position: 2
chain_length: 6
interpolate: False
run_current: 2.0
sense_resistor: 0.05


[stepper_z]
step_pin: PC28
dir_pin: PA4
enable_pin: !PA9
microsteps: 16
rotation_distance: 50
endstop_pin: ^PC4
position_endstop: 0.0
position_max: 400

[tmc5160 stepper_z]
cs_pin: PD17
chain_position: 3
chain_length: 6
interpolate: False
run_current: 1.0
sense_resistor: 0.05

[extruder]
step_pin: PC1
dir_pin: !PA22
enable_pin: !PA9
microsteps: 16
rotation_distance: 33.683
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA24
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC29
control: pid
pid_Kp: 22.57
pid_Ki: 1.72
pid_Kd: 73.96
min_temp: -270
max_temp: 250

[heater_bed]
heater_pin: PA7
sensor_type: Generic 3950
sensor_pin: PC15
control: pid
pid_Kp: 426.68
pid_Ki: 78.92
pid_Kd: 576.71
min_temp: -270
max_temp: 1300

[fan]
pin: PC5

[mcu]
serial: /dev/serial/by-id/usb-Klipper_same70q20b_00313853315238323031303536303530-if00



[printer]
kinematics: sweeping_polar
max_velocity: 400
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100
max_angular_velocity: 10
distfrombed: 700

#[display]
#lcd_type: st7920
#cs_pin: PA3
#sclk_pin: PA1
#sid_pin: PC1
#encoder_pins: ^PD2, ^PD3
#click_pin: ^!PC0

[virtual_sdcard]
path = /home/darkmonkeyz/printer_data/gcodes
on_error_gcode = CANCEL_PRINT

[force_move]
enable_force_move: True

[homing_override]
gcode:
    G91
    G1 Y100 Z10
    G90
    G28 X Y
axes: xyz

[gcode_arcs]
#resolution: 1.0